<?xml version="1.0"?>
    <!--
    
   -->
<launch>

    <arg name="robot_id" default="4"/>
    <arg name="sim" default="true"/>

    <!-- derived args -->
    <arg name="prefix" value="robot$(arg robot_id)"/>

    <!-- args from hri -->
    <arg name="map_frame_id"        default="/map_laser2d"/>
    <arg name="robot_base_frame_id" default="$(arg prefix)/base_link"/>
    <arg name="robot_topic"         default = "/$(arg prefix)/robot_pose"/>
    <arg name="robotST_topic"       default = "/$(arg prefix)/robot_poseST"/>

    <arg name="ppl_topic"           default="/$(arg prefix)/qsr/people_tracker/positions"/>
    <arg name="person_topic"        default="/$(arg prefix)/perception/tracked_persons"/>
    <arg name="dperson_topic"        default="/$(arg prefix)/perception/detected_persons"/>
    
    <arg name="qtc_state_topic"           default="/$(arg prefix)/qtc_state_topics"/>
        
    <arg name="vis_marker_topic"    default = "/$(arg prefix)/qsr/visualization_marker"/>
    <arg name="vel_costmap_topic"   default = "/$(arg prefix)/qsr/velocity_costmap"/>
    <arg name="origin_topic"        default = "/$(arg prefix)/qsr/origin"/>

    <!-- the group -->
    <group ns="$(arg prefix)/qsr">

      <!-- Publish groundtruth tracks and detections from Gazebo -->
      <node name="groundtruth_tracks_from_gazebo" pkg="iliad_human_perception_launch" type="groundtruth_tracks_from_gazebo.py" respawn="true"  if="$(arg sim)">
              <remap from="/groundtruth/detected_persons" to="$(arg dperson_topic)"/>
              <remap from="/groundtruth/tracked_persons" to="$(arg person_topic)"/>            
      </node>

      <node name="QSRview" pkg="iliad_dynamic_constraints" type="QTCplot.py" output="screen">
        <param name="robot_id" value="$(arg robot_id)"/>
        
        <!--  peopletracker(bayes, from STRANDS) OR trackedpersons (SPENCER) -->
        <param name="human_detection_method" value="trackedpersons"/>

        <!-- acording to the detection method, human detections would be in the corresponding topic -->
        <param name="peopletracker_topic" value="$(arg ppl_topic)"/>
        <param name="human_tracking_topic" value="$(arg person_topic)"/>

        <param name="reports_topic" value="/$(arg prefix)/control/controller/reports"/>
        <param name="base_frame" value="$(arg robot_base_frame_id)"/>
        <param name="global_frame" value="$(arg map_frame_id)"/>        
        <param name="tf_timeout" value="1"/>
        <param name="sampling_time" value="0.6"/>
        <param name="qtc_state_topic" value="$(arg qtc_state_topic)"/>
   
      </node>

      <!-- spencer to bayes -->
      <node pkg="iliad_human_local_navigation" type="spencer_to_bayes.py" name="spenc2bay" output="screen">
        <param name="ppl_topic"           type="string"  value="$(arg ppl_topic)"/>
        <param name="person_topic"           type="string"  value="$(arg person_topic)"/>
        <param name="target_frame"        type="string"  value="$(arg robot_base_frame_id)"/>
      </node>

      <node pkg="iliad_velocity_costmaps" type="iliad_velocity_costmap_server.py" name="velocity_costmap_server" output="screen" respawn="true">
        <param name="qtc_topic"                           type = "string"   value="$(arg qtc_state_topic)"/>
        <param name="vis_marker_topic"                    type = "string" value= "$(arg vis_marker_topic)"/>
        <param name="vel_costmap_topic"                   type = "string" value= "$(arg vel_costmap_topic)"/>
        <param name="origin_topic"                        type = "string" value= "$(arg origin_topic)"/>
        <param name="base_link_tf"                        type = "string" value= "$(arg robot_base_frame_id)"/>
        <param name="ppl_topic"                           type = "string"   value="$(arg ppl_topic)"/>
        <param name="qtc_rules_file"                      type = "string"   value="$(find iliad_velocity_costmaps)/cfg/rules_qtc.yaml"/>
          
        <param name="min_rotat_vel"                      type = "string"   value="0.01"/>
        <param name="max_rotat_vel"                      type = "string"   value="0.5"/>
        <param name="min_trans_vel"                      type = "string"   value="0.01"/>
        <param name="max_rotat_vel"                      type = "string"   value="1.0"/>
        <param name="vel_constraints_topic"              type = "string"   value="/$(arg prefix)/velocity_constraints"/>
      </node>

    </group>


</launch>
