<?xml version="1.0"?>
    <!--
      Handy interface to publish on the
          velocity_constraints topic

      It has some sensible ranges for the linear and angular speeds

      Topic must be preexisting for this to work.

   -->
<launch>

    <arg name="robot_id" default="4"/>

    <!-- derived args -->
    <arg name="prefix" value="robot$(arg robot_id)"/>
    <arg name="config_file" value="$(find iliad_dynamic_constraints)/rqtGui/slider_$(arg robot_id).yaml"/>

    <!-- node itself -->
    <group ns="$(arg prefix)">
        <node pkg="rqt_ez_publisher" type="rqt_ez_publisher" name="slider_gui_$(arg robot_id)"
            args=" --slider-file  $(arg config_file)" output="log"/>
    </group>


</launch>
