<?xml version="1.0"?>
    <!--
    
    Quick tester for debugging and testing in gazebo. Includes mocking human tracking so we reduce computational load.
    
    TODO! THIS SHOULD BE ALSO TESTED WITH REAL DATA. To see how it handles oclusions, multiple humans, noisy data ...

   -->
<launch>

    <arg name="robot_id" default="4"/>
    <arg name="use_qsr" default="true"/>

    <!-- derived args -->
    <arg name="prefix" value="robot$(arg robot_id)"/>

    <!-- node itself -->
    <group ns="$(arg prefix)">

      <node name="QSRview" pkg="iliad_dynamic_constraints" type="QTCplot.py" output="screen" if="$(arg use_qsr)">
        <param name="robot_id" value="$(arg robot_id)"/>
        
        <!--  peopletracker(bayes, from STRANDS) OR trackedpersons (SPENCER) -->
        <param name="human_detection_method" value="trackedpersons"/>

        <!-- acording to the detection method, human detections would be in the corresponding topic -->
        <param name="peopletracker_topic" value="/$(arg prefix)/people_tracker/positions"/>
        <param name="human_tracking_topic" value="/$(arg prefix)/perception/tracked_persons"/>

        <param name="reports_topic" value="/$(arg prefix)/control/controller/reports"/>
        <param name="base_frame" value="/$(arg prefix)/base_link"/>
        <param name="global_frame" value="/map_laser2d"/>        
        <param name="tf_timeout" value="1"/>
        <param name="sampling_time" value="0.6"/>
      </node>

      <!-- Publish groundtruth tracks and detections from Gazebo -->
      <node name="groundtruth_tracks_from_gazebo" pkg="iliad_human_perception_launch" type="groundtruth_tracks_from_gazebo.py" respawn="true">
              <remap from="/groundtruth/detected_persons" to="/$(arg prefix)/perception/detected_persons"/>
              <remap from="/groundtruth/tracked_persons" to="/$(arg prefix)/perception/tracked_persons"/>            
      </node>

    </group>


</launch>
