<?xml version="1.0"?>
 <!-- 


roslaunch iliad_base_simulation iliad_sim_ncfm_no_human.launch gazeboGui:=true rviz_config_file:=`rospack find nav_simulation`/rviz/iliad_cititruck_dwa_nav.rviz
roslaunch iliad_dynamic_constraints ms3.launch robot_id:=1
rosrun tf static_transform_publisher 0 0 0 0 0 0 map map_laser2d 100
roslaunch nav_simulation move_base_dwa.launch 

-->
 
<launch>

    <include file="$(find iliad_base_simulation)/launch/iliad_sim_ncfm_long_walk.launch">
        <arg name="gazeboGui" value="false"/>
        <arg name="map_frame" value="/map_laser2d"/>
        <arg name="map_topic" value="/map_laser2d"/>
        <arg name="rviz_config_file" value="$(find nav_simulation)/rviz/iliad_cititruck_dwa_nav.rviz"/>
    </include>

    <include file="$(find nav_simulation)/launch/move_base_dwa.launch">
        <arg name="map_frame" value="/map_laser2d"/>
        <arg name="map_topic" value="/map_laser2d"/>
        <arg name="global_frame"   default = "/map_laser2d"/>
    </include> 

</launch>
