<?xml version="1.0"?>

<!--
	Filter used with gmapping to create maps from NCFM rosbags.
	Procedure:
	- Launch this
	- Launch gmapping from console, with this params:
   	rosrun gmapping slam_gmapping scan:=/robot5/sensors/laser2d_floor_fil _base_frame:=robot5/base_link map:=/maps/map_laser2d _odom_frame:=world map_frame:=map_laser2d _xmin:="-5.0" _ymin:="-5.0" _xmax:="5.0" _ymax:="5.0"
	- Play the rosbag you want:
  	rosbag play /home/manolofc/iliad/tj/S1-T2.1-A2.bag - - clock
	- Once the bag has finished, you can save the map with the following:
		rosrun map_server map_saver -f S1-T2.1-A2 map:=/maps/map_laser2d

	The final map will be necessary with together.launch

  <param name="/use_sim_time" value="true"/>
-->

<launch>
	<arg name="robot_id" default="5"/>


	<arg name="prefix" default="robot$(arg robot_id)"/>


	<!-- Filters out laser points hitting robot frame/wheels .................-->
	<node pkg="laser_filters" type="scan_to_scan_filter_chain" name="safety_filter">
		<rosparam command="load" file="$(find base_simulation)/params/safety_laser_filter_real.yaml" />
		<remap from="scan" to="/$(arg prefix)/sensors/laser2d_floor" />
		<remap from="scan_filtered" to="/$(arg prefix)/sensors/laser2d_floor_fil" />
	</node>
	<node pkg="laser_filters" type="scan_to_scan_filter_chain" name="nav_filter">
		<rosparam command="load" file="$(find base_simulation)/params/nav_laser_filter_real.yaml" />
		<remap from="scan" to="/$(arg prefix)/sensors/laser2d_top" />
		<remap from="scan_filtered" to="/$(arg prefix)/sensors/laser2d_top_fil" />
	</node>


</launch>
