<?xml version="1.0"?>

<launch>
      <arg name="person_topic" default="/robot4/perception/tracked_persons"/>
  
        <!-- Publishes robot position related to map frame coordinates. Used by online_qtc_creator -->
        <node pkg="iliad_human_local_navigation" type="spencer_to_bayes.py" name="spencer_to_bayes" output="screen">
              <param name="person_topic" value="$(arg person_topic)"/>
              <param name="target_frame" value="map_laser2d"/>
        </node>





</launch>
