<?xml version="1.0"?>
 <!--
     Launches a world where forklift is facing a human that walks towards it.
     Robot starts facing human walking a short path


-->

<launch>
  <!-- PARAMS ...................................................... -->
  <arg name="gazeboGui" default="true"/>
  <arg name="rvizGui" default="true"/>
  <arg name="map_frame_id" default="map"/>
  <arg name="robot_id" default="1"/>
  <arg name="rviz_config_file" default="$(find iliad_base_simulation)/rviz/iliad_cititruck.rviz"/>


  <include file="$(find iliad_base_simulation)/launch/iliad_sim.launch">
        <arg name="robot_id"     value="$(arg robot_id)"/>
        <arg name="rviz_config_file" value="$(arg rviz_config_file)"/>
        <arg name="gazeboGui"  value="$(arg gazeboGui)"/>
        <arg name="rvizGui"    value="$(arg rvizGui)"/>
        <arg name="map_frame_id" value="$(arg map_frame_id)"/>
  </include>

</launch>
