<?xml version="1.0" ?>

<launch>  
<!-- ZONE 0 -->
<group if="$(env ZONE0)">
	<include file="$(find moving_actor_gazebo)/launch/spawn_actor_moving.launch">
	    <arg name="actor_name" value="actor00" />
	    <arg name="actor_trajectory_file" value="$(find moving_actor_gazebo)/config/trajectories/trajectories_zone0_$(env HOUR)h_scenario$(env SCENARIO).txt"/>
	    <arg name="map_topic" value="/map_laser2d"/>
	    <arg name="use_gpu_gazebo_lidar" value="$(env GPU_GAZEBO_LIDAR)"/>
	    <arg name="start_pose_x" value="20" />
	    <arg name="start_pose_y" value="0" />
	    <arg name="start_pose_Y" value="0" />
	    <arg name="loop" value="True" />
  	</include>
</group>

<!-- ZONE 1 -->
<group if="$(env ZONE1)">

	<include file="$(find moving_actor_gazebo)/launch/spawn_actor_moving.launch">
	    <arg name="actor_name" value="actor01" />
	    <arg name="actor_trajectory_file" value="$(find moving_actor_gazebo)/config/trajectories/trajectories_zone1_$(env HOUR)h_scenario$(env SCENARIO).txt"/>
	    <arg name="map_topic" value="/map_laser2d"/>
	    <arg name="use_gpu_gazebo_lidar" value="$(env GPU_GAZEBO_LIDAR)"/>
	    <arg name="start_pose_x" value="21" />
	    <arg name="start_pose_y" value="0" />
	    <arg name="start_pose_Y" value="0" />
  	</include>
</group>

<group if="$(env ZONE2)">

	<include file="$(find moving_actor_gazebo)/launch/spawn_actor_moving.launch">
	    <arg name="actor_name" value="actor02" />
	    <arg name="actor_trajectory_file" value="$(find moving_actor_gazebo)/config/trajectories/trajectories_zone2_$(env HOUR)h_scenario$(env SCENARIO).txt"/>
	    <arg name="map_topic" value="/map_laser2d"/>
	    <arg name="use_gpu_gazebo_lidar" value="$(env GPU_GAZEBO_LIDAR)"/>
	    <arg name="start_pose_x" value="22" />
	    <arg name="start_pose_y" value="0" />
	    <arg name="start_pose_Y" value="0" />
  	</include>
</group>

<group if="$(env ZONE3)">

	<include file="$(find moving_actor_gazebo)/launch/spawn_actor_moving.launch">
	    <arg name="actor_name" value="actor03" />
	    <arg name="actor_trajectory_file" value="$(find moving_actor_gazebo)/config/trajectories/trajectories_zone3_$(env HOUR)h_scenario$(env SCENARIO).txt"/>
	    <arg name="map_topic" value="/map_laser2d"/>
	    <arg name="use_gpu_gazebo_lidar" value="$(env GPU_GAZEBO_LIDAR)"/>
	    <arg name="start_pose_x" value="23" />
	    <arg name="start_pose_y" value="0" />
	    <arg name="start_pose_Y" value="0" />
  	</include>
</group>

<group if="$(env ZONE4)">

	<include file="$(find moving_actor_gazebo)/launch/spawn_actor_moving.launch">
	    <arg name="actor_name" value="actor04" />
	    <arg name="actor_trajectory_file" value="$(find moving_actor_gazebo)/config/trajectories/trajectories_zone4_$(env HOUR)h_scenario$(env SCENARIO).txt"/>
	    <arg name="map_topic" value="/map_laser2d"/>
	    <arg name="use_gpu_gazebo_lidar" value="$(env GPU_GAZEBO_LIDAR)"/>
	    <arg name="start_pose_x" value="24" />
	    <arg name="start_pose_y" value="0" />
	    <arg name="start_pose_Y" value="0" />
  	</include>
</group>

<group if="$(env ZONE5)">

	<include file="$(find moving_actor_gazebo)/launch/spawn_actor_moving.launch">
	    <arg name="actor_name" value="actor05" />
	    <arg name="actor_trajectory_file" value="$(find moving_actor_gazebo)/config/trajectories/trajectories_zone5_$(env HOUR)h_scenario$(env SCENARIO).txt"/>
	    <arg name="map_topic" value="/map_laser2d"/>
	    <arg name="use_gpu_gazebo_lidar" value="$(env GPU_GAZEBO_LIDAR)"/>
	    <arg name="start_pose_x" value="25" />
	    <arg name="start_pose_y" value="0" />
	    <arg name="start_pose_Y" value="0" />
  	</include>
</group>

</launch> 
