<?xml version="1.0"?>

 <!--
  requires:
    - a working forklift (or simulation): tfs, kinect2, velodyne, lasers ...
    - an human aware dwa local planner in a move_base stack.
    - a people tracking system that provides positions.

  -->

<launch>
    <arg name="prefix"       default="robot1"/>
    <arg name="topic_prefix" default="/robot1"/>


    <group ns="$(arg prefix)">



        <arg name="base_frame" value="$(arg prefix)/base_link" />

        <arg name="filtered_positions"  value="$(arg topic_prefix)/people_tracker_filter/positions" />

        <include file="$(find hrsi_launch)/launch/hrsi.launch">
            <arg name="target_frame" value="map_laser2d"/>
            <arg name="with_qsr_lib" value="true"/>
            <arg name="with_qsr_prob_rep" value="true"/>
            <arg name="goal_topic"   value="$(arg topic_prefix)/move_base/current_goal"/>
            <arg name="ppl_topic"    value="$(arg filtered_positions)"/>
            <arg name="qtc_topic"    value="$(arg topic_prefix)/qtc_state_predictor/prediction_array"/>
            <arg name="vis_marker_topic"    value = "$(arg topic_prefix)/velocity_costmap_server/visualization_marker"/>
            <arg name="vel_costmap_topic"   value = "$(arg topic_prefix)/velocity_costmap_server/velocity_costmap"/>
            <arg name="origin_topic"        value = "$(arg topic_prefix)/velocity_costmap_server/origin"/>
            <arg name="base_link_tf"        value = "$(arg base_frame)"/>
            <arg name="move_base_topic"     value = "$(arg topic_prefix)/move_base"/>
            <arg name="qtc_arr_topic"       value = "$(arg topic_prefix)/online_qtc_creator/qtc_array"/>
            <arg name="robot_topic"         value = "$(arg topic_prefix)/robot_pose"/>
            <arg name="robotST_topic"       value = "$(arg topic_prefix)/robot_poseST"/>

        </include>

        <!-- Publishes robot position related to map frame coordinates. Used by online_qtc_creator -->
        <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="robot_poseST_publisher" output="screen">
              <param name="map_frame" value="map"/>
              <param name="base_frame" value="$(arg prefix)/base_link"/>
              <param name="is_stamped" value="true"/>
              <remap from="robot_pose" to="robot_poseST"/>
        </node>
        <!-- Publishes robot position related to map frame coordinates. Used by online_qtc_creator -->
        <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="robot_pose_publisher" output="screen">
              <param name="map_frame" value="map"/>
              <param name="base_frame" value="$(arg prefix)/base_link"/>
              <param name="is_stamped" value="false"/>
        </node>

    </group>





</launch>
