<?xml version="1.0"?>
 <!-- 
     Launches a world where forklift is facing a human that walks towards it.
     
     This will be used to test strands hri navigation with spencer trackers.

  -->
 
<launch>
    
  <!-- PARAMS ...................................................... -->
  <arg name="gazeboGui" default="true"/> 
  <arg name="rvizGui" default="true"/> 

  <!-- TF prefix of robot -->
  <arg name="prefix" default="robot1"/>

  <!-- Enable/disable sensor simulation -->
  <arg name="velodyne" default="true"/> <!-- requires velodyne_simulator -->
  <arg name="kinect2"  default="true"/>   <!-- Uses iai kinect2 description -->
  <arg name="kinect1"  default="false"/> <!-- deprecated (only used for pallet detection?) -->

  <rosparam command="load" file="$(find orunav_params)/config/global.cfg"/>
  <rosparam command="load" file="$(find orunav_params)/config/citi1_simulation.cfg" />


  <!-- INCLUDES .................................................... -->


  <!-- WORLD A variation of the original with only one person as described avobe  -->
  <include file="$(find hri_simulation)/launch/ncfm_world.launch">
        <arg name="gui" value="$(arg gazeboGui)"/>
        <arg name="world_name" default="$(find hri_simulation)/worlds/ncfm_model_short.world"/>
  </include>



  <!-- LOAD MAP -->
  <include file="$(find hri_simulation)/launch/ncfm_map_server.launch"/>


 <group ns="$(arg prefix)">
     <!-- 
          This param needs to be set under this group, or 
          robot_state_publisher wont publish tf properly 
     -->  
    <param name="tf_prefix" value="$(arg prefix)" />

  <!-- LOAD GAZEBO Model  -->
  <include file="$(find hri_simulation)/launch/cititruck_ncfm.launch">
    <arg name="tf_prefix" value="$(arg prefix)"/>
    <arg name="velodyne" value="$(arg velodyne)"/>
    <arg name="kinect2" value="$(arg kinect2)"/>
    <arg name="kinect1" value="$(arg kinect1)"/>

    <arg name="robot_pose_x" default="7.23"/>
    <arg name="robot_pose_y" default="-2.7"/>
    <arg name="robot_pose_roll" default="0"/>
    <arg name="robot_pose_pitch" default="0"/>
    <arg name="robot_pose_yaw" default="0"/>
  </include>

    <!-- 
    Strands human tracking modules
     <include file="$(find hri_simulation)/launch/spencer_people_tracker.launch"/>

     -->
   

 

    <!-- 
         Navigation. 
         Also includes laser filters to remove frame-hitting points 
    -->
    <include file="$(find demo)/launch/move_base.launch"/>


 </group>





<!-- Visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find demo)/rviz/iliad_cititruck_nav_human_aware_spencer.rviz" if="$(arg rvizGui)"/>

</launch>
