<?xml version="1.0"?>


<!--  

Temporal file to configure parts of human aware navigation


-->

<launch>

 <arg name="prefix" default="robot1"/>

	
 <group ns="$(arg prefix)">
	<env name="ROSCONSOLE_CONFIG_FILE"
		value="$(find hri_simulation)/custom_rosconsole.conf"/>


    

    




    


 </group>


</launch>