<?xml version="1.0"?>


<!-- Fuses front and rear high-recall (low-confidence) laser detectors by simple aggregation. -->
<launch>
    <arg name="common_frame_id" default="base_footprint"/>
    <arg name="topic_prefix" default=""/>


    <group ns="$(arg topic_prefix)/spencer/perception_internal/detected_person_association">
        <!-- Convert DetectedPersons topics into CompositeDetectedPersons, and transform poses into common coordinate frame -->
        <node name="convert_to_composite_laser_front_high_recall" pkg="nodelet" type="nodelet" args="load spencer_detected_person_association/ConvertToCompositeDetectionsNodelet detected_person_association_nodelet_manager" output="screen">
            <rosparam param="input" 
                subst_value="True">$(arg topic_prefix)/spencer/perception_internal/detected_persons/laser_front_high_recall</rosparam>
            <rosparam param="output" 
                subst_value="True">$(arg topic_prefix)/spencer/perception_internal/detected_person_association/composite/lasers_high_recall_aggregated</rosparam>
            <rosparam param="common_frame_id" 
                subst_value="True">$(arg common_frame_id)</rosparam>
        </node>

    </group>

</launch>