<?xml version="1.0"?>


<launch>
    <!-- Launch file arguments -->
    <arg name="rgbd" default="false"/>
    <arg name="hog" default="false"/> 
    <arg name="topic_prefix" default=""/>
    <arg name="base_frame" default="base_link"/>



    <!-- Aggregate detections from all detectors -->
    <include file="$(find hri_simulation)/launch/person_association/aggregate_all.launch">
        <arg name="rgbd" value="$(arg rgbd)"/>
        <arg name="topic_prefix" value="$(arg topic_prefix)"/>
        <arg name="common_frame_id" value="$(arg base_frame)" />
    </include>

    <!-- If RGB-D is enabled, fuse lasers and RGB-D -->
    <include file="$(find hri_simulation)/launch/person_association/fuse_lasers_and_rgbd.launch" if="$(arg rgbd)">
        <arg name="topic_prefix" value="$(arg topic_prefix)"/>
        <arg name="common_frame_id" value="$(arg base_frame)" />
    </include>
    
    <!-- Re-publish final composite detections as normal detections, for processing by the tracker-->


    <group ns="$(arg topic_prefix)/spencer/perception_internal/detected_person_association">
        <!-- Final primary detection composites will be on this topic -->



        <arg name="final_composite_topic" value="$(arg topic_prefix)/spencer/perception/composite/lasers_upper_body_ground_hog_fused" if="$(arg hog)"/>
        <arg name="final_composite_topic" value="$(arg topic_prefix)/spencer/perception/composite/lasers_upper_body_fused" if="$(arg rgbd)"/>
        <arg name="final_composite_topic" value="$(arg topic_prefix)/spencer/perception/composite/lasers_aggregated"   unless="$(arg rgbd)"/>

        <!-- Primary detections -->
        <!-- cant find  /robot1/spencer/perception_internal/detected_person_association/composite/lasers_upper_body_ground_hog_fused !!!!!!!!!!!!!!!!!!!!!!!!!!!!!   
        published at the end of fuse_lasers_and_rgbd.launch I think
        -->
        <node name="relay_final_composite_detections" type="relay" pkg="topic_tools" args="$(arg final_composite_topic) $(arg topic_prefix)/spencer/perception/detected_persons_composite"/>


        <!-- cant find /robot1/spencer/perception/detected_persons_composite !!!!!!!!!!!!!!!!!!!!!!!!!!!!! 
        published by relay_final_composite_detections   -->
        <node name="convert_final_composite_detections_to_detections" type="composite_detections_to_detections.py" pkg="spencer_detected_person_association">
            <remap from="/spencer/perception/detected_persons_composite" 
                   to="$(arg topic_prefix)/spencer/perception/detected_persons_composite"/>
            <remap from="/spencer/perception/detected_persons" 
                   to="$(arg topic_prefix)/spencer/perception/detected_persons"/>
        </node>   

        <!-- Secondary high-recall detections -->
        <node name="convert_laser_high_recall_composite_detections_to_detections" type="composite_detections_to_detections.py" pkg="spencer_detected_person_association">
            <remap from="/spencer/perception/detected_persons_composite" 
                   to="$(arg topic_prefix)/spencer/perception/composite/lasers_high_recall_aggregated"/>
            <remap from="/spencer/perception/detected_persons" 
                   to="$(arg topic_prefix)/spencer/perception/lasers_high_recall_aggregated"/>
        </node>  
    </group>
    
    <!-- TODO: Assign unique composite detection IDs in final output stage(??) -->   
    <!-- TODO: Filter to publish only n detections closest to robot -->

</launch>