<?xml version="1.0"?>
<launch>
     <node pkg="iliad_goal_manager" type="goal_manager_node.py" name="goal_manager_node" output="screen">
    	<param name="missions_file" value="$(find iliad_goal_manager)/config/orkla_missions.txt"/>
		<param name="orders_times_file" value="$(find iliad_goal_manager)/config/orkla_orders_times.txt" />
    	<param name="items_locations_file" value="$(find iliad_goal_manager)/config/orkla_item_locations.json" />
        <param name="locations_coordinates_file" value="$(find iliad_goal_manager)/config/orkla_location_coordinates.json" />
        <param name="mode" value="1"/> <!-- [0] click and point mode,  [1] mission mode -->

    </node>

</launch>