<?xml version="1.0"?>
 <!-- 
     Launches a world where forklift is facing a human that walks towards it.
     Robot starts facing human walking from corner to corner of the room
    

-->
 
<launch>
  <!-- PARAMS ...................................................... -->
  <arg name="gazeboGui" default="true"/> 
  <arg name="rvizGui" default="true"/> 
  <arg name="prefix" default="robot1"/>
  <arg name="robot_pose_x" default="0.0"/>
  <arg name="robot_pose_y" default="0.0"/>
  <arg name="robot_pose_roll" default="0.0"/>
  <arg name="robot_pose_pitch" default="0.0"/>
  <arg name="robot_pose_yaw" default="0.0"/>
      <arg name="rviz_config_file" default="$(find base_simulation)/rviz/iliad_cititruck.rviz"/>



  <include file="$(find base_simulation)/launch/iliad_sim.launch">
        <arg name="yaml_map_file" value="$(find gazebo_worlds_oru)/maps/ncfm_sim.yaml"/>  
        <arg name="world_name" value="$(find base_simulation)/worlds/ncfm_model_no_actors.world"/>
                <arg name="rviz_config_file" value="$(arg rviz_config_file)"/>


    <arg name="robot_pose_x" value="$(arg robot_pose_x)"/>
    <arg name="robot_pose_y" value="$(arg robot_pose_y)"/>
    <arg name="robot_pose_roll" value="$(arg robot_pose_roll)"/>
    <arg name="robot_pose_pitch" value="$(arg robot_pose_pitch)"/>
    <arg name="robot_pose_yaw" value="$(arg robot_pose_yaw)"/>
  

        <arg name="gazeboGui"  value="$(arg gazeboGui)"/> 
        <arg name="rvizGui"    value="$(arg rvizGui)"/> 
        <arg name="prefix"     value="$(arg prefix)"/>
  </include>
  
</launch>
