<?xml version="1.0"?>
  
<launch>
  <arg name="yaml_map_file" default="$(find base_simulation)/maps/extra_room.yaml"/>
  <!-- Robot start position -->
  <arg name="robot_pose_x" default="0"/>
  <arg name="robot_pose_y" default="0"/>
  <arg name="robot_pose_z" default="0"/>
  <arg name="robot_pose_roll" default="0"/>
  <arg name="robot_pose_pitch" default="0"/>
  <arg name="robot_pose_yaw" default="0"/> 
  <arg name="frame_id" default="map"/>

<!-- The /map should be the same as /world - since there are many node that will use a map of some kind
     this to avoid having to utilize tf to get the map origin... change the .yaml file instead

 -->

 <node pkg="tf" type="static_transform_publisher" name="origin_broadcaster" 
    args="$(arg robot_pose_x) $(arg robot_pose_y) $(arg robot_pose_z) $(arg robot_pose_roll) $(arg robot_pose_pitch) $(arg robot_pose_yaw)  /world $(arg frame_id) 100" />

<node name="map_server" pkg="map_server" type="map_server" args="$(arg yaml_map_file)">
    <param name="frame_id" value="$(arg frame_id)"/>
</node>

</launch>
