<?xml version="1.0"?>
    <!--


   -->
<launch>
    <!--  -->
    <arg name="robot_id" value="4"/>

    <!-- derived args -->
    <arg name="prefix" value="robot$(arg robot_id)"/>
    <arg name="map_frame" default="/map_laser2d"/>
    <arg name="map_topic" default="map_laser2d"/>
    <arg name="base_frame" default="/$(arg prefix)/base_link"/>
    
      
    <arg name="planner_plugin" default="dwa_local_planner_constraint/DWAPlannerROS"/>
    <!-- <arg name="planner_plugin" default="teb_local_planner/TebLocalPlannerROS"/> -->

    <!-- Filters out laser points hitting robot frame/wheels .................-->
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="safety_filter">
      <rosparam command="load" file="$(find iliad_base_simulation)/params/safety_laser_filter.yaml" />
      <remap from="scan" to="/$(arg prefix)/sensors/laser2d_floor" />
      <remap from="scan_filtered" to="/$(arg prefix)/sensors/laser2d_floor_fil" />
    </node>

    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="nav_filter">
      <rosparam command="load" file="$(find iliad_base_simulation)/params/nav_laser_filter_real.yaml" />
      <remap from="scan" to="/$(arg prefix)/sensors/laser2d_top" />
      <remap from="scan_filtered" to="/$(arg prefix)/sensors/laser2d_top_fil" />
    </node>

    <!-- local costmap config -->
    <rosparam file="$(find iliad_oru_local_planner)/config/example_params.yaml" command="load" ns="/$(arg prefix)/local_planner/local_costmap" /> 
    <rosparam param="/$(arg prefix)/local_planner/local_costmap/robot_base_frame" subst_value="True">$(arg base_frame)</rosparam>
    <rosparam param="/$(arg prefix)/local_planner/local_costmap/global_frame" subst_value="True">$(arg map_frame)</rosparam>
    <rosparam param="/$(arg prefix)/local_planner/local_costmap/obstacle_layer/scan_top/topic" subst_value="True">/$(arg prefix)/sensors/laser2d_top</rosparam>

    <!-- local planner config -->
    <rosparam param="/$(arg prefix)/local_planner/DWAPlannerROS/sim_time" subst_value="True">30</rosparam>
    <rosparam param="/$(arg prefix)/local_planner/DWAPlannerROS/sim_granularity" subst_value="True">0.5</rosparam>
    <rosparam param="/$(arg prefix)/local_planner/DWAPlannerROS/controller_frequency" subst_value="True">2.0</rosparam>

    <group ns="$(arg prefix)">
        <node pkg="iliad_oru_local_planner" type="iliad_local_planner_node" name="local_planner" output="screen">
            <param name="robot_id" value="$(arg robot_id)"/>
            <param name="local_planner_plugin"  value="$(arg planner_plugin)"/>
        </node>

    </group>
    


</launch>
