<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="actor">
  
  <xacro:arg name="actor_name" default=""/>
  <xacro:arg name="tf_prefix" default=""/>
  <xacro:arg name="use_gpu" default="false"/>


  <!-- PLUGINS -->

  <gazebo>
    <plugin name="$(arg actor_name)_object_controller" filename="libgazebo_ros_planar_move.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>20.0</updateRate>
      <robotNamespace>$(arg actor_name)</robotNamespace>
       <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>$(arg tf_prefix)/odom</odometryFrame>
      <odometryRate>20.0</odometryRate>
      <robotBaseFrame>$(arg tf_prefix)/base_footprint</robotBaseFrame>
      <enableYAxis>1</enableYAxis>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>


  <!-- CREATE LINKS -->

  <link name="$(arg tf_prefix)/base_footprint"/>


  <link name="$(arg tf_prefix)/base_link">
    <inertial>
      <origin xyz="0.0 0.0 -0.85" rpy="0 0 0"/>
      <mass value="80"/>
      <inertia ixx="22.85" ixy="0.0" ixz="0.0" iyy="22.85" iyz="0.0" izz="2.5"/>
    </inertial>

    <collision name="$(arg actor_name)_collision">
      <origin xyz="0 0 0.0" rpy="0.0 0 0"/>
      <geometry>
        <box size="0.5 0.5 1.8"/>
      </geometry>
    </collision> 

    <visual name="$(arg actor_name)_visual">
      <origin xyz="0 0 -0.9" rpy="0.0 0 1.54"/>
      <geometry>
        <mesh filename="model://person_standing/meshes/standing.dae"/>
      </geometry>
    </visual>

    <!-- <visual name="$(arg actor_name)_magic_carpet">
      <origin xyz="0 0 0.0" rpy="0.0 0 0"/>
      <geometry>
        <box size="0.5 0.5 0.02"/>
      </geometry>
    </visual>

    <collision name="$(arg actor_name)_person">
      <origin xyz="0 0 0.03" rpy="0.0 0 1.54"/>
      <geometry>
        <mesh filename="model://person_standing/meshes/standing.dae"/>
      </geometry>
    </collision> 
    
    <visual name="$(arg actor_name)_visual">
      <origin xyz="0 0 0.03" rpy="0.0 0 1.54"/>
      <geometry>
        <mesh filename="model://person_standing/meshes/standing.dae"/>
      </geometry>
    </visual>
    -->

  </link>

  <gazebo reference="$(arg tf_prefix)/base_link">
    <selfCollide>false</selfCollide>
    <mu1>0.02</mu1>
    <mu2>0.02</mu2>
  </gazebo>


  <link name="$(arg tf_prefix)/hokuyo"/>


  <!-- CREATE JOINTS -->

  <!-- For odometry -->
  <joint name="$(arg tf_prefix)/base_footprint_to_base_link" type="fixed">
    <parent link="$(arg tf_prefix)/base_footprint"/>
    <child  link="$(arg tf_prefix)/base_link"/>
    <origin xyz="0 0 0.09" rpy="0 0 0"/>
  </joint>


  <joint name="$(arg tf_prefix)/base_link_to_hokuyo" type="fixed">
    <parent link="$(arg tf_prefix)/base_link"/>
    <child link="$(arg tf_prefix)/hokuyo"/>
    <axis xyz="0 1 0" />
    <origin xyz="0.27 0 -0.85" rpy="0 0 0"/>
  </joint>


  <!-- CREATE SENSORS -->

  <gazebo reference="$(arg tf_prefix)/hokuyo">

  <xacro:unless value="$(arg use_gpu)">
    <sensor name="$(arg actor_name)_hokuyo_sensor" type="ray">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>40</update_rate>
      <always_on>1</always_on>
      <ray>
        <scan>
          <horizontal>
            <samples>180</samples>
            <resolution>1</resolution>
            <min_angle>-1.570796</min_angle>
            <max_angle>1.570796</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.1</min>
          <max>50.0</max>
          <resolution>0.01</resolution>
        </range>
      </ray>
      <plugin name="$(arg actor_name)_hokuyo_node" filename="libgazebo_ros_laser.so">
        <topicName>scan</topicName>
        <frameName>hokuyo</frameName>
      </plugin>
    </sensor>
  </xacro:unless>

  <xacro:if value="$(arg use_gpu)">
      <sensor name="$(arg actor_name)_hokuyo_sensor" type="gpu_ray">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>40</update_rate>
      <always_on>1</always_on>
      <ray>
        <scan>
          <horizontal>
            <samples>180</samples>
            <resolution>1</resolution>
            <min_angle>-1.570796</min_angle>
            <max_angle>1.570796</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.1</min>
          <max>50.0</max>
          <resolution>0.01</resolution>
        </range>
      </ray>
      <plugin name="$(arg actor_name)_hokuyo_node" filename="libgazebo_ros_gpu_laser.so">
        <topicName>scan</topicName>
        <frameName>hokuyo</frameName>
      </plugin>
    </sensor>
  </xacro:if>
  </gazebo>


</robot>