<?xml version="1.0"?>
    <!--
    
   -->
<launch>

    <arg name="robot_id" default="3"/>
    <arg name="sim" default="false"/>

    <!-- derived args -->
    <arg name="prefix" value="robot$(arg robot_id)"/>
    <arg name="person_topic"          default="/$(arg prefix)/human_perception/tracked_persons_in_map_frame"/>
    <arg name="dperson_topic"         default="/$(arg prefix)/human_perception/detected_persons"/>

    <!-- the group -->
    <group ns="$(arg prefix)/qsr">

      <!-- Publish groundtruth tracks and detections from Gazebo -->
      <node name="groundtruth_tracks_from_gazebo_1" pkg="iliad_human_perception_launch" type="groundtruth_tracks_from_gazebo.py" respawn="true"  if="$(arg sim)">
          <remap from="/groundtruth/detected_persons" to="$(arg dperson_topic)"/>
          <remap from="/groundtruth/tracked_persons" to="$(arg person_topic)"/>            
      </node>

      <!-- Publish groundtruth tracks and detections from Gazebo -->
      <node name="groundtruth_tracks_from_gazebo_2" pkg="iliad_human_perception_launch" type="groundtruth_tracks_from_gazebo.py" respawn="true"  if="$(arg sim)">
          <remap from="/groundtruth/detected_persons" to="$(arg dperson_topic)"/>
          <remap from="/groundtruth/tracked_persons" to="/$(arg prefix)/human_perception/tracked_persons"/>            
      </node>
      
    </group>

    <node name="tracks_from_map_to_robot_frame" pkg="iliad_human_aware_navigation" type="tracks_from_map_to_robot_frame.py" respawn="true"  if="$(arg sim)">         
    </node>  


</launch>






