<?xml version="1.0"?>
 <!-- Based on iliad_single_truck.launch
 I have removed orunav stack and replaced it with standard ros one -->
 
<launch>
    
  <!-- PARAMS ...................................................... -->
  <arg name="hasPeople" default="false"/>

  <!-- TF prefix of robot -->
  <arg name="prefix" default="robot1"/>

  <!-- Enable/disable sensor simulation -->
  <arg name="velodyne" default="true"/> <!-- requires velodyne_simulator -->
  <arg name="kinect2"  default="true"/>   <!-- Uses iai kinect2 description -->
  <arg name="kinect1"  default="false"/> <!-- deprecated (only used for pallet detection?) -->

  <rosparam command="load" file="$(find orunav_params)/config/global.cfg"/>
  <rosparam command="load" file="$(find orunav_params)/config/citi1_simulation.cfg" />


  <!-- INCLUDES .................................................... -->


  <!-- LOAD WORLD use same file but in demo package to remove people ...  -->
  <include file="$(find gazebo_worlds_oru)/launch/ncfm_world.launch" if="$(arg hasPeople)"/>
  <include file="$(find demo)/launch/ncfm_world.launch" unless="$(arg hasPeople)"/>



  <!-- LOAD MAP -->
  <include file="$(find gazebo_worlds_oru)/launch/ncfm_map_server.launch"/>

  <!-- LOAD GAZEBO Model  -->
  <include file="$(find cititruck_gazebo)/launch/cititruck_ncfm.launch">
     <arg name="tf_prefix" value="$(arg prefix)"/>
     <arg name="velodyne" value="$(arg velodyne)"/>
     <arg name="kinect2" value="$(arg kinect2)"/>
     <arg name="kinect1" value="$(arg kinect1)"/>
  </include>

 
 
 <group ns="$(arg prefix)">
     <!-- 
          This param needs to be set under this group, or 
          robot_state_publisher wont publish tf properly 
     -->  
    <param name="tf_prefix" value="$(arg prefix)" />
 


   <!-- Move base: include file when its working properly... 
   <include file="$(find demo)/launch/move_base_teb.launch"/>  
   -->
  
 
 </group>


<!-- Visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find demo)/rviz/iliad_cititruck_nav.rviz"/>

</launch>
