

<launch deprecated="CORRECT TFS!">
		
	<!-- TFs: only laser tf is ok -->
	<node pkg="tf" type="static_transform_publisher" name="kinect_map" args="0 0 1.1 -1.54 0 -1.54 base_footprint kinect2_rgb_optical_frame 100"/>

    <node pkg="tf" type="static_transform_publisher" name="laser0_map" args="1.4 0 0.02 0 0 0 base_footprint laserscan0 100"/>

	<node pkg="tf" type="static_transform_publisher" name="foot_odom" args="0 0 0 0 0 0  odom_base_link base_footprint 100"/>

	
	
    <!-- Minimal cititruck config: (tested) -->
    <include file="$(find kmo_navserver)/launch/cititruck.launch"/>

    <!-- Kinect2 config: (tested) -->
    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch"/>


	
-->
</launch>
