<!-- 
Launch file to replay rosbag and build map

Note:
- recorded rosbag had wrongly named tfs, so we had to edit them.

Once this is running we launch gmapping
 rosrun gmapping slam_gmapping scan:=/kmo_navserver/laserscan0 _odom_frame:=world

And save the map 
 rosrun map_server map_saver -f <map_name>
 
For this test, tf between map and world by the end of gmapping was
- Translation: [-0.179, 0.195, 0.000]
- Rotation: in Quaternion [0.000, 0.000, -0.028, 1.000]
            in RPY (radian) [0.000, 0.000, -0.056]
            in RPY (degree) [0.000, 0.000, -3.200]

So I guess odometry is not that bad after all.

-->

<launch>

    <param name="use_sim_time" value="true" />  

    <node pkg="rosbag" type="play" name="player" output="screen" args=" --clock $(find demo)/bags/forMapping_NoTF.bag -r 1">
		<remap from="tf" to="tf_old" />
	</node>
    
    <!-- recorded rosbag had wrongly named tfs, I need to remap them now -->
    <node pkg="tf" type="tf_remap" name="tf_remapper" output="screen">
		<rosparam param="mappings">[{old: odom_base_link, new: base_link}]</rosparam>
	</node>
    

    <!-- TFs: recorded rosbag had wrongly named tfs, I need to republish them now -->
    <node pkg="tf" type="static_transform_publisher" name="laser1_map" args="0.8 0 0.85 3.1415 0 0 base_link laserscan1 100"/>
    <node pkg="tf" type="static_transform_publisher" name="laser0_map" args="1.4 0 0.02 0 0 0 base_link laserscan0 100"/>

    <!--  Just for visualization purposes-->
    <node pkg="rviz" type="rviz" output="screen" name="rviz_node" args="-d $(find demo)/rviz/mapping_testing.rviz"/>	       
    
</launch>
