<?xml version="1.0"?>

<!-- 
    ROS navigation stack with velocity smoother and safety (reactive) controller
    based on turtlebot move_base.launch
-->
<launch>
	
  <arg name="prefix" default="robot1"/>

	
  <group ns="$(arg prefix)"> <!-- REMOVE WHEN IT WORKS -->
      

      <!-- include file="$(find turtlebot_navigation)/launch/includes/velocity_smoother.launch.xml"/ -->
      <!-- include file="$(find turtlebot_navigation)/launch/includes/safety_controller.launch.xml"/ -->

      <arg name="odom_topic" default="odom" />
      <arg name="cmd_vel_topic" default="controller/cmd_vel" />

      <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
          <rosparam file="$(find demo)/cfg/carlike/costmap_common_params.yaml" command="load" ns="global_costmap" />
          <rosparam file="$(find demo)/cfg/carlike/costmap_common_params.yaml" command="load" ns="local_costmap" />
          <rosparam file="$(find demo)/cfg/carlike/local_costmap_params.yaml" command="load" />
          <rosparam file="$(find demo)/cfg/carlike/global_costmap_params.yaml" command="load" />
          <rosparam file="$(find demo)/cfg/carlike/teb_local_planner_params.yaml" command="load" />

          <param name="base_global_planner" value="global_planner/GlobalPlanner" />
          <param name="planner_frequency" value="1.0" />
          <param name="planner_patience" value="5.0" />

          <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
          <param name="controller_frequency" value="5.0" />
          <param name="controller_patience" value="15.0" />

          <param name="clearing_rotation_allowed" value="false" /> <!-- Our carlike robot is not able to rotate in place -->
          <remap from="cmd_vel" to="move_base/cmd_vel"/> 

          <remap from="odom" to="$(arg odom_topic)"/>
          <remap from="/$(arg prefix)/map" to="/map" />

      </node>


      <node pkg="laser_filters" type="scan_to_scan_filter_chain"
          name="safety_filter">
        <rosparam command="load" file="$(find demo)/params/safety_laser_filter.yaml" />
        <remap from="scan" to="safety_laser" />
        <remap from="scan_filtered" to="safety_laser_fil" />
      </node>
      
      <node pkg="laser_filters" type="scan_to_scan_filter_chain"
          name="nav_filter">
        <rosparam command="load" file="$(find demo)/params/nav_laser_filter.yaml" />
        <remap from="scan" to="nav_laser" />
        <remap from="scan_filtered" to="nav_laser_fil" />
      </node>
      

      <!-- Casts from vtrans,vrot from move base to robot (vtrans,vrot) for motrix wheel in robot  -->
      <node pkg="demo" type="velParser.py" name="velParser_node" output="screen">
          <param name="wheelsAxesDist" value="1.2"/>
          <param name="inPlacePhi" value="1.57"/>
          <param name="phiTol" value="0.2"/>
          <param name="useOmega" value="True"/>
          <param name="steer_pose_cmd_topic" value="steer_pose"/>
          <param name="in_cmd_topic" value="move_base/cmd_vel"/>
          <param name="out_cmd_topic" value="$(arg cmd_vel_topic)"/>
      </node>
        

      <!-- Publishes relative tag position related to robot. Used by velParser -->
      <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="steer_pose_publisher" output="screen">
          <param name="map_frame" value="$(arg prefix)/base_footprint"/>
          <param name="base_frame" value="$(arg prefix)/steer_link"/>
          <param name="is_stamped" value="true"/>
          <remap from="robot_pose" to="steer_pose"/>
      </node>
    
   </group>

</launch>
