<?xml version="1.0"?>
    <!--
    Basic launcher....


   -->
<launch>

    <arg name="robot_id" default="4"/>
    <arg name="use_qsr" default="true"/>

    <!-- derived args -->
    <arg name="prefix" value="robot$(arg robot_id)"/>

    <!-- node itself -->
    <group ns="$(arg prefix)">

      <node name="QSR2VW" pkg="dynamic_constraints" type="QSR2constraints_node.py" output="screen" if="$(arg useQSRconstraints)">
        <param name="robot_id" value="$(arg robot_id)"/>
        <param name="velocity_constraints_topic" value="/$(arg prefix)/velocity_constraints"/>

        <!--  peopletracker OR trackedpersons -->
        <param name="human_detection_method" value="peopletracker"/>

        <param name="peopletracker_topic" value="/$(arg prefix)/people_tracker/positions"/>
        <param name="human_tracking_topic" value="/$(arg prefix)/perception/tracked_persons"/>

        <param name="velocity_constraints_topic" value="/$(arg prefix)/velocity_constraints"/>
        <param name="reports_topic" value="/$(arg prefix)/control/controller/reports"/>
        <param name="base_frame" value="/$(arg prefix)/base_link"/>
        <param name="sampling_time" value="0.6"/>
        <param name="tf_timeout" value="1"/>
      </node>

    </group>


</launch>
