<?xml version="1.0"?>

<launch>

    <arg name="robot_id" default="4"/>
    <arg name="bag_descriptor" default="study_topics"/>
    <arg name="max_scenario_time" default="60"/>



    <!-- derived args -->
    <arg name="prefix" value="robot$(arg robot_id)"/>
    <arg name="traj_topic_name_mpc"       default="/$(arg prefix)/control/controller/trajectories_mpc"/>
    <arg name="report_topic_name_mpc"     default="/$(arg prefix)/control/controller/reports_mpc"/>
    <arg name="commands_topic_name_mpc"   default="/$(arg prefix)/control/controller/commands_mpc"/>
    <arg name="traj_topic_name_ven"       default="/$(arg prefix)/control/controller/trajectories"/>
    <arg name="report_topic_name_ven"     default="/$(arg prefix)/control/controller/reports"/>
    <arg name="commands_topic_name_ven"   default="/$(arg prefix)/control/controller/commands"/>

    <arg name="topics_list"   default="$(arg traj_topic_name_mpc) $(arg report_topic_name_mpc) $(arg commands_topic_name_mpc) $(arg traj_topic_name_ven) $(arg report_topic_name_ven) $(arg commands_topic_name_ven) "/>

    <!-- Record relevant topics -->
    <node required="true" pkg="rosbag" type="record" name="recorder"
        args="record --duration=$(arg max_scenario_time) -o $(arg bag_descriptor)  $(arg topics_list)" output="screen"/>



</launch>
